<div id="footer">
  <div id="footer-inner">
    <p><%= link_to "About", :controller =>"greeter", :action => "about" %> | <%= link_to "Contact", :controller =>"greeter", :action => "contact" %> | <%= link_to "Terms of Use", :controller =>"greeter", :action => "terms" %> | <%= link_to "Privacy Policy", :controller =>"greeter", :action => "privacy" %></p>
    <p id="copyright">Copyright © 2008 Uconn Homebrew Technology Club</p>
  </div>
</div>
